
body {
  font-family: arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Header */

header{
  background: #35424a;
  color: #ffffff;
  padding-top: 38px;
  border-bottom: #148fce 5px solid;
}

#branding{
  text-align: center;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 32px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  display: inline;
  padding: 0px 20px;
}

header nav {
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.highlight {
  color: #148fce;
}





/* Showcase */

#showcase {
  background-image: url("../Images/building.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 500px;
  border: #148fce 5px solid;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

#showcase h1{
  color: #FFFFFF;
  font-size: 80px;
  text-align: center;
  padding-top: 30px;
}



/* About */
#about{
  background-color: #35424a;
  border: #148fce 5px solid;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  min-height: 400px;
  color: #ffffff;
}

#about h1 {
  font-size: 40px;
}

#about p {
  font-size: 20px;
  line-height: 1.5em;
}

/* Applications */

.application{
  background-color: #35424a;
  border: #148fce 5px solid;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
  min-height: 390px;
  color: #ffffff;
}

/* Footer */
footer{
  margin-top: 10px;
  background-color: #35424a;
  color: #ffffff;
  border-top: #148fce 5px solid;
  min-height: 60px;
}

footer p {
  text-align: right;
  font-size: 20px;
  padding-top: 0px;
  padding-right: 10px;
  margin-bottom: 0;
}
